<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

<div class="cluster">

<div class="topslice">

</div>

<div class="middleslices">

<div class="midleft">
<div class="mid">
<div class="midright">
</div>

</div>


</div>


</div>

<div class="bottomslice">
&nbsp;

</div>

</div>

</div>

<%= link_to "Play again", contest_path %>

