<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

<div class="cluster">

<div class="topslice">

</div>

<div class="middleslices">

<div class="midleft">
<div class="mid">
<div class="midright">
<%= link_to image_tag("/images/incorrect/LOSE-TRY-AGAIN_03.jpg"), contest_path, class: "play_again" %>
</div>

</div>


</div>


</div>

<div class="bottomslice">
&nbsp;

</div>

</div>




</div>



