<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

<img src="/images/incorrect/WRONG-ANSWER.jpg" />


<div class="middleslices">


<div class="midright">
<%= link_to "", contest_path, :class => "play_again" %>
</div>

</div>









</div>



