<img src="https://dl.dropboxusercontent.com/u/750532/1.jpg"></img>
<div>
Finally, it's your turn to shine in the bright lights. Put your Oscars knowledge to the test with a walk down our virtual red carpet. Each correct answer will put you one step closer to making your elegant entrance into 
the grand ceremony. Answer all 10 questions correctly and win a special prize from Tadashi Shoji. 

Feeling camera-ready? Step out of the limo and play A Red Carpet Affair.
</div>