<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

<img src="images/promotionend/PROMOTION-HAS-ENDED_01.jpg">

<img src="images/promotionend/PROMOTION-HAS-ENDED_02.jpg">

<img src="images/promotionend/PROMOTION-HAS-ENDED_03.jpg">

<img src="images/promotionend/PROMOTION-HAS-ENDED_04.jpg">

<img class="gplus" src="images/promotionend/PROMOTION-HAS-ENDED_05.jpg">

<img class="promoend6" src="images/promotionend/PROMOTION-HAS-ENDED_06.jpg">

<img src="images/promotionend/PROMOTION-HAS-ENDED_07.jpg">

</div>


