<%= stylesheet_link_tag  "layout", media: "all", "data-turbolinks-track" => true %>
<div class="container">

	<img src="images/level/LEVEL-10.jpg">    

	<img src="images/winner/CLAIM-PRIZE-BUTTON.png">


	<h1>CONGRATULATIONS!!! YOU WON</h1>

	<h2><%= @prize.promocode %></h2>

</div>


