/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

.container 
{ position: relative; width: 1280px; margin: 0 auto; padding: 0; height:100%;}


body{
	margin:0px;
	background-color:black;
}

img{
	margin-bottom:-4px;
}

.derp1{
	position:absolute;
	left:0px;
	top:819px;
}

.derp2{
	position:absolute;
	left:45.72%;
}

.derp3{
	position: absolute;
	left:692px;
	top:819px;
}

.derp4{
	position:absolute;
	top:854px;
	left:0px;
}
.center{
	width: 100%;
    height: 36px;
    position: relative;
}

.fit{
	position:absolute;
	margin:0;
	margin-bottom:0px;
    width:850px;
    height:550px;
    top:650px;
    left:520px;
    color: #fff;
    padding:0px 0px 0px 0px;
}

.form{
	position:relative;
}

.questionscontainer{
	position:absolute;
	top:750px;
	left:410px;
	z-index:5;
	width:500px;
	margin:0 auto;
	text-align:center;
}

.questions p{
	color:white;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-style:italic;
	font-size:24px;
}

.choices{
    left:90px;
    position:absolute;
    text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.choices p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 200;
   color:gold;
   font-size:18px;
   text-align: center;
   display:inline-block;

}

.cluster{
	position:absolute;
}

.topslice{
	width:1280px;
	text-align:center;
	height:716px;
	background:url("/images/incorrect/LOSE-TRY-AGAIN_01.jpg") no-repeat top;
}
.midleft{

	text-align:left;
	height:39px;
	width:100%;
	margin-left:0;
	background:url("/images/incorrect/LOSE-TRY-AGAIN_02.jpg") no-repeat left;
}

.mid{

	text-align:center;
	height:39px;
	margin-left:-4px;
	background:url("/images/incorrect/LOSE-TRY-AGAIN_03.jpg") no-repeat left;
	background-position:center;
}

.midright{

	text-align:center;
	height:39px;
	margin-right:0;
	background-position:right;
}

.bottomslice{
	position:absolute;
	top:754px;
	text-align:center;
	height:269px;
	margin-right:0;
	width:1280px;
	background:url("/images/incorrect/LOSE-TRY-AGAIN_05.jpg") no-repeat bottom;
	background-position:center;
}

.promoend6{
	position:absolute;
	margin-left:1px;
}

.gplus{
	margin-left:1px;
}

.form_submit{
	position:absolute;
	top:150px;
	left:0;
}


.submit{

  z-index:100;
    position:absolute;    
    font-size: 12px;
    left:94px;
    top:115px;
      width: 97px;
height: 29px;
    background: url("/images/TAKE-THE-NEXT-STEP-BUTTON.png") no-repeat; border: none;
}

.play_again{
	position:absolute;
height:229px;
width:307px;
background:url("/images/incorrect/PLAYAGAIN-IDLE.png") no-repeat bottom;
left:490px;
top:-160px;

}

.play_again:hover{
	position:absolute;
height:229px;
width:307px;
background:url("/images/incorrect/PLAYAGAIN-HOVER.png") no-repeat bottom;
left:490px;

}

.page1_submit{
	position:absolute;
	top:165px;
	left:65px;
	height:36px;
	width:107px;
	background:url("/images/page_1/PAGE-1_04-IDLE.jpg");
	border:0;
}

.page1_submit:hover{
	position:absolute;
	top:165px;
	left:65px;
	height:36px;
	width:107px;
	background:url("/images/page_1/PAGE-1_04-HOVER.jpg");
}

.contest_submit{
	background:url("/images/SUBMIT-IDLE.png");
	width:89px;
	height:39px;
	border:0;
	margin-left:100px;
}

.contest_submit:hover{
	background:url("/images/SUBMIT-HOVER.png");
	width:89px;
	height:39px;
}

.nextquestion_button{

  	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:150px;
    top:145px;
    width: 200px;
	height: 49px;
    background: url("/images/NEXTSTEP-IDLE.png") no-repeat; border: none;
}

.nextquestion_button:hover{

  	z-index:100;
    position:absolute;    
    font-size: 12px;
    left:150px;
    top:145px;
    width: 200px;
	height: 49px;
    background: url("/images/NEXTSTEP-HOVER.png") no-repeat; border: none;
}

#participant_email{
	color:black;
}

.middleslices{
	position:absolute;
	top:715px;
	width:100%;
}

.midright{
	position:absolute;
	top:0px;
	left:0px;
	width:1280px;
}

.claimprize{
	position:absolute;
	top:950px;
	left:560px;
	background: url("/images/winner/CLAIM-PRIZE-BUTTON-IDLE.png") no-repeat; border: none;
}

.claimprize:hover{
	position:absolute;
	top:950px;
	left:560px;
	background: url("/images/winner/CLAIM-PRIZE-BUTTON-HOVER.png") no-repeat; border: none;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/